* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --mainColor: #000000;
    --purpleColor: #5B4252;
    --maroonColor: #481E15;
    --greenColor: #172F1B;
    --brownColor: #492B1B; 
  }

  /* typography */
  html{
    font-family: "Inter", Helvetica, sans-serif;
    font-variation-settings: "wght" 400;
    line-height: 1.5em; 
    font-size: 1rem;
    }

    body{
        max-width: 36rem;  
        margin: 0 auto;
        
    }

   /* skip to main button */ 
  #skip {
    margin: -1rem auto;
    display: block;
    z-index: 1001;
    top: -1rem;
    position: relative;
  }

  /* top navigation */
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    height: 4rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}
    /*  position: fixed;
    width: 100%;
    z-index: 3;
  }*/
  .header .logo {
    display: block;
    float: left;
    width: 40%;
    padding: 0.5rem;
}
  /* hamburger */
  /* hamburger menu */
  button {
    background: transparent;
    border:none;
    padding: 1rem;
  }
  .menubt {
    cursor: pointer; 
    width: 3rem;
    margin-left: 7rem;

}

/*hero banner */
.herobanner{
    padding: 1rem 1rem 5rem 1rem;
    background-color: #000000;
}
.herotitle{
    color: #fff;
    font-variation-settings: "wght" 800;
    font-size: 3rem;
    line-height: 1em;
}
.herointro{
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.scrollbutton{
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-top: -4rem;
}
.links{
    color: #fff;
}
/* the homepage heading padding*/
.headings{
    padding: 1rem;}

/*headings*/
h1{
    font-family: "Inter", Helvetica, sans-serif;
    color: #000000;
    line-height: 1.1em;
    font-size: 1.44rem;
    font-variation-settings: "wght" 700;
    /*! margin-top: 0.5rem; */
}
h2{
    font-family: "Inter", Helvetica, sans-serif;
    color: #000000;
    line-height: 1.1em;
    font-size: 1.2rem;
    font-variation-settings: "wght" 500;
    /*! margin-top: 0.5rem; */
}
h3{
    font-family: "Inter", Helvetica, sans-serif;
    color: #000000;
    line-height: 1.1em;
    font-size: 1rem;
    font-variation-settings: "wght" 700;
}


/*homepage portfolio */
.portfoliosample1{
    margin-top: 2.25rem;
    margin-bottom: 2rem;
    background-color: #5B4252; 
    padding: 0rem 0rem 2rem 0rem;
}
.portfoliosample2{
    margin-top: 2.25rem;
    margin-bottom: 2rem;
    background-color: #481E15; 
    padding: 0rem 0rem 2rem 0rem;
}
.portfoliosample3{
    margin-top: 2.25rem;
    margin-bottom: 2rem;
    background-color: #172F1B; 
    padding: 0rem 0rem 2rem 0rem;
}
.portfoliosample4{
    margin-top: 2.25rem;
    margin-bottom: 2rem;
    background-color: #492B1B; 
    padding: 0rem 0rem 2rem 0rem;
}
.intropara1{
    color: #fff;
    padding: 0.9rem 1rem;
    font-variation-settings: "wght" 300;
}
.intropara2{
    color: #fff;
    font-variation-settings: "wght" 500;
    padding: 0rem 1rem 2rem 1rem;
}
/*intro h2 style class*/
.introtitle{
color: #fff;
padding: 0rem 1rem;
line-height: 1.1em;
font-size: 1.2rem;
font-variation-settings: "wght" 700;
}
/*explore more button styling */
.exploremore{
   padding: 0.6rem;
    margin-left: 6rem;
    color: #000000;
    background-color: #fff;
    border-radius: 0.4rem;
    text-decoration: none;
    font-variation-settings: "wght" 700; /*bold */
    margin-top: -1rem;
}

/* ADDITIONAL WORK STYLING */
.PrintMedia {
border: 1px solid #000000;
padding: 1rem 0rem 2rem 0rem;
margin-top: 1rem;
margin-bottom: 2.5rem;
}
.description {
    color: #000;
    font-variation-settings: "wght" 500;
    padding: 1rem 1rem 2rem 1rem;
    
}
.exploremore1{
    padding: 0.6rem;
     margin-left: 6rem;
     color: #ffffff;
     background-color: #000000;
     border-radius: 0.4rem;
     text-decoration: none;
     font-variation-settings: "wght" 700; /*bold */
     margin-top: -1rem;
 }
 .headingadditional {
    padding: 1rem;
 }
 .introtitle1 {
    color: #000000;
    padding: 0rem 1rem;
    line-height: 1.1em;
    font-size: 1.2rem;
    font-variation-settings: "wght" 700; 
 }
 /*
 .introimage1{
   border-bottom: 1px solid #000;
 }
*/
/*footer */
footer{
    background-color: #fff;
    box-shadow: inset 1px #000;
}
/*social icons */
.social ul{

    display: flex; /* Use flexbox to arrange the icons in a row */
    gap: 1px;
    flex-direction: row;
    justify-content: space-between; /* Distribute icons evenly across the container */
    align-items: center; /* Center items vertically within the container */
   
  }
.social li{
    list-style: none; 
  } 

  .sicon {
    display: block;
    width: 50%;
  }
  /*about page*/
  .resume{
    padding: 1rem;
  }
  .grad1 {
    margin-top: 1rem;
    
  }
  ul{
    margin-top: 0.7rem;
    margin-left: 1rem;
  }
  /*motion graphics page */
  .motion {
    padding: 1rem;
  }
  .logoanimation {
    padding: 1rem;
  }
.video {
  margin-top: 1rem;
}

/* desktop version */

  @media (min-width: 900px) {
    body{
    max-width: 100rem; 
    font-size: 1.2rem;
    margin: 0 auto; 
    line-height: 1.6em;}


 .header {
    max-width: 100rem;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    z-index: 1000;

 }
  /* navigation menu */
  .bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 2rem;
    margin-top: 6rem;

}
/*header logo */
.header .logo {
width: 20%;

}
.bar li a{
    font-size: 1.1rem;
    font-variation-settings: "wght" 600;
    text-decoration: none;
    color: #000;
    padding: 1.5rem;
  
}
.bar li ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    padding: 1rem;
    list-style: none;
    max-width: 20rem;
   
   
}

/*scrool button*/
.scrollbutton {
    width: 7%;}
}