* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --mainColor: #000000;
    --purpleColor: #5B4252;
    --maroonColor: #481E15;
    --greenColor: #172F1B;
    --brownColor: #492B1B; 
  }

  /* typography */
  html{
    font-family: "Inter", Helvetica, sans-serif;
    font-variation-settings: "wght" 400;
    line-height: 1.5em; 
    font-size: 1rem;
    }

    body{
        max-width: 36rem;  
        margin: 0 auto;
        
    }

   /* skip to main button */ 
  #skip {
    margin: -1rem auto;
    display: block;
    z-index: 1001;
    top: -1rem;
    position: relative;
  }
  #skip:focus {
    text-decoration: underline 1px solid #000;
}
#skip:hover{
    text-decoration: underline 1px solid #000;
}

  /* top navigation */
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    height: 4rem;
    position: fixed;
    padding: 0rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
}
  .header .logo {
    display: block;
    width: 100%;
    max-width: 8rem;
    margin-top: 0.5rem;
}
   .main-nav {
        flex: 1;
        text-align: right; /* Adjust alignment as needed */
    }
/* Styles for the hamburger button */
.menubt {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  max-width: 3rem;
  margin-top: 0.8rem;
}

button {
  background: none;
  border: none;
}

/* Styles for the navigation drawer */
.drawer {
  position: fixed;
  top: 0;
  right: -300px; /* Off-screen by default */
  width: 250px; /* Set your desired width */
  height: 100%;
  background-color: #ffffff; /* Set your desired background color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
}

/* Styles for the navigation drawer when it's open */
.drawer.open {
  right:0;
  width: 340px;
}

/* Styles for the close button in the navigation drawer */
.closeBtn {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: #000000; /* Set your desired color */
  cursor: pointer;
  margin-top: 20px;
  margin-left: 310px;

}

/* Styles for the main navigation links */
.bar {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
}

.bar li {
  position: relative;
  padding: 0.8rem;
  font-size: 1rem;
  font-variation-settings: "wght" 300;
  text-align: center;
  justify-content: center;
  display: grid;
}
.bar a {
  text-decoration: none;
  color: #000000; /* Set your desired color */
  display: block;
}
/* link styling */
.bar li:hover {
  font-size: 1.1rem;
  font-variation-settings: "wght" 600;

}
.bar li:focus{
  font-size: 1.1rem;
  font-variation-settings: "wght" 600;

}

/* Styles for the navigation dropdown */
.bar li ul {
  list-style: none;
  display: none;
  background-color: #ffffff;
  place-items: center;  /* Position the submenu to the right of the parent */

}
.bar li ul li {
  border: 0.25px solid #000;
  width: 100%;
}
.bar li ul li:last-child {
  border-bottom: 1px solid #000;
}
.bar li ul li a {
 
  color: #000000;
}
.drawer .bar li:hover > ul {
  display: block;
}
.drawer .bar li:focus> ul {
  display: block;
}
.drawer .bar li:focus-within> ul {
  display: b;
}
/* this is the top name */
.name {
  color: #909090;
  font-size: 0.9rem;
  margin-top: 1rem;
}

/*hero banner */
.herobanner{
    padding: 5rem 1rem 5rem 1rem;
    background-color: #000000;
}
.herobanner1{
  padding: 1rem 1rem 0 1rem;
  background-color: #000000;
}
.herotitle{
    color: #fff;
    font-variation-settings: "wght" 800;
    font-size: 3rem;
    line-height: 1em;
}
.herointro{
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.or {
  color: #909090;
}
.scrollbutton{
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-top: -4rem;
}
.links{
    color: #fff;
}
.links1{
  color: #000000;
}

/* the homepage heading padding*/
.headings{
    padding: 1rem 1.5rem;}

/*headings*/
h1{
    font-family: "Inter", Helvetica, sans-serif;
    color: #000000;
    line-height: 1.1em;
    font-size: 1.44rem;
    font-variation-settings: "wght" 700;
    /*! margin-top: 0.5rem; */
}
h2{
    font-family: "Inter", Helvetica, sans-serif;
    color: #393939;
    line-height: 1.1em;
    font-size: 1.2rem;
    font-variation-settings: "wght" 500;
    /*! margin-top: 0.5rem; */
}
h3{
    font-family: "Inter", Helvetica, sans-serif;
    color: #000000;
    line-height: 1.1em;
    font-size: 1rem;
    font-variation-settings: "wght" 700;
}


/*homepage portfolio */
.tags {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
 
  
}
.tag {
  color: #fff;
  border: 1px solid #ffffff;  border-radius: 0.5rem;
  padding: 0.14rem 0.3rem;
  font-size: 0.625rem;
  display: inline-block;
  font-variation-settings: "wght" 250;
}

.contentintro1 {
  padding: 0.5rem 1rem;
  margin-top: -1.5rem;
}
.contentintro2-2 {
  padding: 1rem;
}
.contentintro2 {
  padding: 1rem;
  margin-top: -1.5rem;
}
.portfoliosample1{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: #5B4252; 
    padding: 0rem 0rem 1rem 0rem;
}
.portfoliosample2{
    margin-bottom: 2rem;
    background-color: #481E15; 
    padding: 0rem 0rem 1rem 0rem;
}
.portfoliosample3{
    margin-bottom: 2rem;
    background-color: #172F1B; 
    padding: 0rem 0rem 1rem 0rem;
}
.portfoliosample4{
    margin-bottom: 2rem;
    background-color: #492B1B; 
    padding: 0rem 0rem 1rem 0rem;
}
.intropara1{
    color: #fff;
    padding: 0.9rem 1rem;
    font-variation-settings: "wght" 300;
    max-width: 32rem;
}
.intropara2{
    color: #fff;
    font-variation-settings: "wght" 300;
    padding: 0rem 0rem 2rem 0rem;
    max-width: 32rem;
   
}
/*intro h2 style class*/
.introtitle{
color: #fff;
padding: 0.5rem 0rem;
line-height: 1.1em;
font-size: 1.25rem;
font-variation-settings: "wght" 700;
}
/*explore more button styling */
.exploremore{
   padding: 0.5rem;
   color: #000000;
   background-color: #fff;
   /* border-radius: 0.4rem; */
   margin-left: auto; /* Set left margin to auto */
   margin-right: auto; /* Set right margin to auto */
   text-decoration: none;
   font-variation-settings: "wght" 700; /*bold */
   display: block; /* Make it a block element */
   width: fit-content; /* Adjust the width as needed */
   text-align: center; /* Center-align text inside the button */
}


/* ADDITIONAL WORK STYLING */
.printmedia {
border: 1px solid #000000;
border-radius: 4px;
padding: 0rem 0rem 1rem 0rem;
/*! margin-top: 1rem; */
margin-bottom: 2rem;
}
.description {
    color: #000;
    font-variation-settings: "wght" 400;
    padding: 0.7rem 1rem 1rem;
    
}
.exploremore1{
    padding: 0.5rem;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    font-variation-settings: "wght" 700; /*bold */
    margin-left: auto;
    margin-right: auto; 
    display: block;
    width: fit-content; 
    text-align: center;
 }
 .headingadditional {
    padding: 1rem;
 }
 .introtitle1 {
    color: #000000;
    padding: 0rem 1rem;
    line-height: 1.1em;
    font-size: 1.2rem;
    font-variation-settings: "wght" 700; 
    margin-top: 2rem;
 }

 .introimage1{
   border-bottom: 1px solid #000;
   background-color: #000;
   
 }
 /*about page */
 .herotwo2{
  margin-top: 1rem;
 }
 .role{
  font-variation-settings: "wght" 500;
 }
 .imagem{
  margin-bottom: 6.7rem;
  margin-right: 11rem;
 }
 
 .herointro2 {
  max-width: 80rem;
  color: #fff;
 }

/*footer */
footer{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: inset 1px #000;
    /*! gap: 4rem; */
    margin-top: 1rem;
}
.foot1{
  padding: 1rem;
  max-width: 10rem;
  line-height: 1.4em;
  margin-top: 2rem;
  font-size: 0.85rem;
}
.foot2{
  max-width: 17rem; 
  margin-top: 3rem;
  margin-left: 0.5rem;
}
.backtop{
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  transform: translateY(-40%); /* Translate the image up by 40% of its own height to vertically center it */
}
/*social icons */
.sicon {
  width: 40px; /* Adjust the width value to set the desired size */
  height: 40px; /* Adjust the height value to maintain the aspect ratio */
  margin-top: 0.5rem;
}
.social{
  margin-left: -0.10rem;
}
.social ul{
    display: flex; /* Use flexbox to arrange the icons in a row */
    flex-direction: row;
  }
.social li{
    list-style: none; 
  } 

  /*about page*/
  .resume{
    padding: 1rem;
  }
  .grad1 {
    margin-top: 1rem;
  }
  .herointro2- {
    /*! padding: 3rem; */
    color: #fff;
  }
  /*motion graphics page */
  .motion {
    padding: 1rem;
  }
  .logoanimation {
    padding: 1rem;
  }
.video {
  margin-top: 1rem;
}

/* desktop version */

  @media (min-width: 900px) {
    body{
    max-width: 100rem; 
    font-size: 1.188rem;
    margin: 0 auto; 
    line-height: 1.6em;}


 .header {
    max-width: 100rem;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1.5rem 2rem;
    z-index: 1000;
    align-items: center;
    position: fixed;
 }
 /*header logo */
 .header .logo {
  width: 100%;
  margin-left: 4rem;
  max-width: 10rem;
  margin-bottom: 1rem;
  }
  /*navigation */
  .closeBtn{
    display: none;
  }
.bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 1.5rem;
    position: relative;
    margin-left: 5rem;
    }
   
    .bar li a{
      color: #000;
      font-size: 1.05rem;
      font-variation-settings: "wght" 450;
      text-decoration: none;
      transition: all .2s;
    }
    button {
      display: none;
    }
     /* navigation menu */
     .drawer {
      height: 4.5rem;
      border: none;
      outline: none; 
      width: 65rem;
      position: absolute;
      transition: none;
      border: none;
      margin-right: 3rem;
      margin-top: -0.5rem;
      box-shadow: none;
      }
      .bar li ul{
        margin-top: 3.5rem;
        position: absolute;
        width: 15rem;
        justify-content: center;
        margin-left: -4rem;
      }

 .heroone{
  max-width: 10rem;
  margin-left: 6rem;
 }
 .heroonee{
  max-width: 40rem;
  margin-left: 6rem;
  /*! padding: 3rem; */
  margin-bottom: 10rem;
 }
 .herobanner {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 10rem 1rem 6rem 0rem;
  height: 85vh;
  align-items: center;
 }
 .herotwo {
  max-width: 30rem;
  margin-left: 35rem;
  margin-top: 2rem;
 }
 .herotitle {
  font-size: 7rem;
 }
 .herotitle1 {
  font-size: 2.5rem;
  color: #fff;
  margin-left: -0.3rem;
  
 }
 .herobanner1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20rem 1rem 6rem 0rem;
  height: 85vh;
  align-items: center;
  /*! padding: 3rem; */
 }
 .name{
  font-size: 1.4rem;
 }
 /*headings */
 h1{
  font-size: 2.188rem;
}
h2{
  font-size: 1.75rem;
}
.introtitle {
  font-size: 2.063rem;
  font-variation-settings: "wght" 800;
}
h3{
  font-size: 1rem;
}
.headings{
  padding: 0rem 0 2rem 6.2rem;}
.headingadditional {
  padding: 2rem 6.5rem;
}

.portfoliosample1{
display: flex;
flex-direction: row;
margin: 0 auto;
padding: 2rem 1rem 1rem;
align-items: center;
}
.portfoliosample2{
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 1rem 1rem;
  align-items: center;
  margin-top: 2rem;
  }
  .portfoliosample3{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 2rem 1rem 1rem;
    align-items: center;
    }
    .portfoliosample4{
      display: flex;
      flex-direction: row-reverse;
      padding: 2rem 1rem 1rem;
      align-items: center;
      margin-top: 2rem;
      }
.contentintro1{
  max-width: 40rem;
  padding: 2rem 2rem 2rem 6.5rem;
  margin-left: 6rem;
}
.contentintro2{
  max-width: 40rem;
  padding: 2rem;
  margin-right: 5rem;
}
.contentintro2-2{
  max-width: 40rem;
  padding: 2rem;
  margin-right: 5rem;
}

.exploremore {
  margin-left: 0rem;
}
.imageintro{
  width: 40%;
  margin-left: 2rem;
  align-content: center;
}
.imageintro2{
  width: 43%;
  margin-left: 2rem;
 margin-right: 4rem;
}
.printmedia{
max-width: 30rem;
}
.flexcontent{

  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin-left: 11rem;
}


/*about page */
.resume {
    padding: 3rem;
}
.herotwo2 {
  max-width: 36rem;
  margin-left: 20rem;
}

.exploremore1 {
 margin-left: 12rem;
}

/*scrool button*/
.scrollbutton {
    width: 7%;}
/*homepage tags portfolio */
.tags {
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
  flex-wrap: wrap;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
  display: flex;
  max-width: 24rem;
}
.tag {
  color: #fff;
  border: 1px solid #ffffff;  
  border-radius: 0.5rem;
  padding: 0.25rem 0.625rem;
  font-size: .75rem;
  display: inline-block;
}
/*back to top button */
.backtop {
  width: 5%;
}
footer{
  padding: 4rem;
}

  }